body {
  padding-top: 3em;
  background-color: #f5f5f5;
  font-family: 'Roboto';
}

.background-plug {
  position: absolute;
  height: 2em;
  width: 100%;
  color: #f5f5f5;
  background-color: #f5f5f5;
  z-index: -1;
}

.flex-container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 1170px;
}