table {
  width: 100%;
  border-spacing: 5px 0;
}

th, td {
  max-width: 120px;
  padding: 5px 0;
  text-align: start;
  background-color: white;
}

th {
  font-size: larger;
}

th:first-child {
  border-top-left-radius: 8px;
}

th:last-child {
  border-top-right-radius: 8px;
}

tbody td, th {
  padding: 0.5em;
  color: rgb(79, 79, 79);
  transition: ease-out, 0.33s;
}

tr:nth-child(2n + 1) td {
  background-color: #e1e8ec51;
}


tbody tr:last-child td:first-of-type {
  border-bottom-left-radius: 8px;
}

tfoot {
  border: 0px;
}

.addition-button-flag {
  display: flex;
  justify-content: end;
  width: 1165px;
}

.addition-button {
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 0 0 8px 8px;
  padding: 5px 10px;
  color: rgb(79, 79, 79);
  transform-origin: bottom left;
  transform: scale(0.8);
  transition: ease-out 0.33s;
  opacity: 0;
  cursor: pointer;
}

.addition-button.active {
  background-color: lightgreen;
  transform: scale(1);
  opacity: 1;
}

.action-buttons-div {
  display: flex;
  margin: auto;
  justify-content: end;
  transform-origin: bottom right;
  transition: ease-out 0.33s;
}

td {
  vertical-align: top;
}

.action-buttons-cell {
  transform-origin: bottom right;
  transition: ease-out 0.33s;
}

.action-buttons-cell.active {
  border-bottom-right-radius: 8px;
  transform-origin: top left;
  transition: ease-out 0.33s;
}

.action-button {
  padding: 5px 10px;
  border: 0;
  border-radius: 8px;
  color: rgb(79, 79, 79);
  font-size: 13px;
  cursor: pointer;
  transition: ease-out, 0.33s;
}

.action-button.invisible {
  transform-origin: left;
  scale: 0.7;
}

.remove-button {
  margin-left: 8px;
  background-color: #f44d4da0;
}

.remove-button:active {
  pointer-events: none;
}

.edit-button {
  background-color: #d0d0dbc1;
}

.button-hover-animated {
  transition: ease-out 0.23s;
}

.button-hover-animated:hover {
  filter: opacity(0.7);
  transition: ease-out 0.23s;
}

a {
  text-decoration: none;
}

h4 {
  display: inline-block;
  margin: 0;
}

.addition-tab {
  padding: 10px 15px;
  position: absolute;
  background-color: lightgreen;
  border-radius: 8px;
  width: 1130px;
  opacity: 1;
  transform: scaleX(0.075) scaleY(0.21);
  transform-origin: top right;
  z-index: -2;
  transition: step-start, 0.33s;
}

.addition-tab:hover {
  opacity: 0;
}

.addition-tab.active {
  opacity: 1;
  transform: scale(1);
  transition: ease-out, 0.33s;
  z-index: 10;
  pointer-events: all;
}

.addition-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.addition-tab-title {
  font-size: 1.25rem;
}

.addition-tab-header button {
  padding: 0;
  height: 25px;
  width: 25px;
  font-size: 24px;
  border: 0px;
  cursor: pointer;
  background-color: #90ee90;
}

.addition-tab-form form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addition-tab-form form input {
  height: 25px;
  width: 245px;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 0;
  border-radius: 8px;
  background-color: #ffffff;
}

.addition-tab-form form button {
  height: 23px;
  background-color: #eeaaee;
  border-radius: 8px;
  border: 0px;
  cursor: pointer;
}

.contact-info {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  transition: ease-out, 0.33s;
}

.contact-info-id {
  margin: 0;
  padding: 0;
}

.edit-tab {
  display: flex;
}

.edit-tab-input {
  display: block;
  position: absolute;
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.0);
  overflow: hidden;
  resize: none;
  outline: none;
  z-index: 1;
  transition: ease-out, 0.33s;
  font-family: 'Roboto';
}

.edit-tab-input::placeholder {
  color: white
}

.invisible {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transition: ease-out, 0.33s;
}

.edit-action-button {
  position: absolute;
  margin: 0;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transform: translateX(-59px);
  transition: ease-out, 0.33s;
}

.edit-action-button.invisible {
  transform-origin: left;
  scale: 0.7;
}

.action-buttons-div div:first-child .edit-action-button {
  background-color: #eeaaee;
  transform: translateX(-54px);
}

.action-buttons-div div:last-child .edit-action-button {
  background-color: #f44d4da0;
}